:root {
--darkgray: #2B2F30;
--aqua: #1EADD3;
--blue-text: #28437A;
}



/* body{
    background-color: aliceblue;
    line-height: 1.25;
    font-size: 18px;
}



nav ul {
    padding-right: 50px;
    list-style: none;
    display: inline-flex;
}

nav ul li {
    padding-left: 25px;
}

header a {
    text-decoration: none;
    color: var(--aqua);
    border-bottom: 3px solid var(--aqua);
}

#cover {
    position: relative;
    text-align: center;
}

.cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.subtitle {
    position: absolute;
    bottom: 30px;
    right: 65px;
    font-size: 35px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

.full-block {
    display: flex;
    padding: 15px;
}

.section-title {
    border-right: 3px solid var(--blue-text);
    padding-right: 20px;
    font-size: 45px;
    text-align: right;
}

#intro {
    width: 100%;
    padding-left: 50px;
}

.big-project {
    position: relative;
    text-align: center;
    padding-left: 50px;
}

.big-project p {
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

.big-project img {
    border: 3px solid var(--aqua);
    object-fit:cover;
    max-height: 350px;
    width: 100%;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}

.small-project {
    padding: 5px;
    height: 225px;
    text-align: center;
}

.small-project p{
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

.small-project img {
    border: 3px solid var(--aqua);
    object-fit: cover;
}

.small-project:hover {
    cursor:grab;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-links li {
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
}

.contact-links a {
    color: var(--blue-text);
} */