:root {
--darkgray: #2B2F30;
--aqua: #1EADD3;
--blue-text: #28437A;
}

*{
    text-decoration: none;
    color: var(--blue-text);
}

header {
    background-color: var(--darkgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header h1 {
    background-color: var(--aqua);
    color: var(--darkgray);
    height: 60px;
    font-size: 35px;
    padding: 15px;
    padding-left: 50px;
}

#navi {
    display: flex;
    font-size: 20px;
}

#navi p {
    color: var(--aqua);
    font-size: 25px;
    font-weight: bold;
    padding: 0px 15px;
    padding-right: 35px;
    border-bottom: 3px solid var(--aqua);
}

#navi a{
    color: var(--aqua);
}

main {
    font-size: 18px;
    background-color: aliceblue;
    line-height: 1.25;
}

#sub-header {
    position: relative;
}

#subtitle {
    position: absolute;
    bottom: 30px;
    right: 65px;
    font-size: 35px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

#cover {
    height: 200px;
    width: 100vw;
    object-fit: cover;
}

#intro {
    display: flex;
    align-items: center;
}

#about-me,
#work,
#contact {
    width: 20vw;
    font-size: 30px;
    padding-right: 15px;
    color: var(--blue-text);
    text-align: right;
    align-items: center;
    border-right: var(--blue-text) solid 3px ;
}

#intro p {
    width: 100%;
    padding-left: 50px;
    padding-bottom: 15px;
}

#my-projects {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}


#project-display {
    width: 100%;
    padding-left: 50px;
}

#main-project {
    position: relative;
    align-items: center;
    flex-grow: 1;
}

#main-project p {
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

#main-project img {
    height: auto;
    width: auto;
    width: 60vw;
    object-fit: cover;
    border: 5px solid var(--aqua);
}

#secon-projects {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

#prj-1,
#prj-2,
#prj-3,
#prj-4 {
    position: relative;
}

#prj-1 p,
#prj-2 p,
#prj-3 p,
#prj-4 p{
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

#secon-projects img {
    height: 350px;
    width: 20vw;
    object-fit: cover;
    border: 5px solid var(--aqua);
}

#secon-projects li {
    margin: 10px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
}

#contact-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

#contact-links li {
    padding: 0px 25px;
}
/* .full-block {
    display: flex;
    padding: 15px;
}

.section-title {
    border-right: 3px solid var(--blue-text);
    padding-right: 20px;
    font-size: 45px;
    text-align: right;




.big-project p {
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}



#projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}

.small-project {
    padding: 5px;
    height: 225px;
    text-align: center;
}

.small-project p{
    position: absolute;
    font-size: 25px;
    bottom: 25px;
    padding: 10px;
    color: var(--darkgray);
    background-color: var(--aqua);
}

.small-project img {
    border: 3px solid var(--aqua);
    object-fit: cover;
}

.small-project:hover {
    cursor:grab;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-links li {
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
}

.contact-links a {
    color: var(--blue-text);
} */ 